openapi: 3.1.0
servers:
  - url: https://demo.otilm.online/api
    description: otilm Demo server
tags:
  - name: User Management
    description: User Management API
  - name: Authentication Management
    description: Authentication Management API
  - name: Secret Management
    description: "APIs for managing secrets, including creation, retrieval, updating,\
    \ and deletion of secrets."
  - name: Client Operations v2
    description: Client Operations v2 API
  - name: Statistics/Dashboard
    description: Statistics/Dashboard API
  - name: Local operations
    description: API only accessible from localhost
  - name: Credential Management
    description: Credential Management API
  - name: TSP — by signing profile name
    description: RFC 3161 Timestamp Protocol endpoint. Routed by Signing Profile name.
      The Signing Profile must have TSP activated. All responses — including errors
      — are returned as application/timestamp-reply per RFC 3161 section 3.
  - name: Workflow Triggers Management
    description: Workflow Triggers Management API
  - name: External Notification Management
    description: "External Notification Management API for managing notification instances\
    \ that can be used to notify recipient(s) about events that were triggered in\
    \ the platform. Note that this API does not handle internal notifications. For\
    \ internal notifications, please refer to the Internal Notification API"
  - name: TSP Profile Management
    description: Timestamping Protocol (TSP) Profile Management API
  - name: Entity Management
    description: Entity Management API
  - name: ACME RA Profile
    description: Interfaces used by ACME clients to request ACME related operations
      on top of RA Profile. ACME Profile defines the behaviour for the specific ACME
      configuration. ACME Profile is bound with specific RA Profile and it can be used
      by the ACME clients to request operations on their specific URL. These operations
      are always specific only for the RA Profile.
  - name: RA Profile Management
    description: RA Profile Management API
  - name: Compliance Profile Management v2
    description: Compliance Profile Management v2 API
  - name: Signing Profile Management
    description: Signing Profile Management API
  - name: Custom Attributes
    description: Custom Attributes API
  - name: Connector Management v2
    description: Connector Management v2 API
  - name: ACME operations
    description: "Interfaces used by ACME clients to request ACME related operations.\
    \ ACME Profile defines the behaviour for the specific ACME configuration. When\
    \ the ACME Profile contains default RA Profile, it can be used by the ACME clients\
    \ to request operations on their specific URL."
  - name: Token Profile Management
    description: Token Profile Management API
  - name: Audit Log
    description: Audit Log API
  - name: Certificate Inventory
    description: Certificate Inventory API
  - name: SCEP RA Profile
    description: Interfaces used by SCEP clients to request SCEP related operations
      on top of RA Profile. SCEP Profile defines the behaviour for the specific SCEP
      configuration. SCEP Profile is bound with specific RA Profile and it can be used
      by the SCEP clients to request operations on their specific URL. These operations
      are always specific only for the RA Profile.
  - name: Token Instance Management
    description: Token Instance Management API
  - name: Workflow Rules Management
    description: Workflow Rules Management API
  - name: Enums
    description: Enums API
  - name: Connector Authentication
    description: Connector Authentication API
  - name: Cryptographic Key Management
    description: Cryptographic Key Management API
  - name: SCEP operations
    description: "Interfaces used by SCEP clients to request SCEP related operations.\
    \ SCEP Profile defines the behaviour for the specific SCEP configuration. When\
    \ the SCEP Profile contains default RA Profile, it can be used by the SCEP clients\
    \ to request operations on their specific URL."
  - name: Notification profile inventory
    description: Notification profile inventory API
  - name: Legacy Client Operations
    description: Client API for managing End Entities and Certificates
  - name: CMP operations
    description: "Interfaces used by CMP clients to request CMP related operations.\
    \ CMP Profile defines the behaviour for the specific CMP configuration. When the\
    \ CMP Profile contains default RA Profile, it can be used by the CMP clients to\
    \ request operations on their specific URL."
  - name: Connector Registration
    description: Connector Registration API
  - name: Group management
    description: Group management API
  - name: Role Management
    description: Role Management API
  - name: Approval Inventory
    description: Approval Inventory API
  - name: Connector Management
    description: Connector Management API
  - name: Signing Record Management
    description: Signing Record Management API. Signing Records are produced as a result
      of digital signing cryptographic operations. They cannot be created or updated
      directly via this API.
  - name: Scheduled Jobs Management
    description: Scheduled Jobs Management API
  - name: Global Metadata
    description: Global Metadata API
  - name: Callback
    description: Callback API
  - name: TSP — by profile name
    description: RFC 3161 Timestamp Protocol endpoint. Routed by TSP Profile name. All
      responses — including errors — are returned as application/timestamp-reply per
      RFC 3161 section 3.
  - name: Location Management
    description: Location Management API
  - name: Authority Management
    description: Authority Management API
  - name: CMP Profile Management
    description: CMP Profile Management API
  - name: Discovery Management
    description: Discovery Management API
  - name: ACME Profile Management
    description: ACME Profile Management API
  - name: Approval profile Inventory
    description: Approval profile Inventory API
  - name: Compliance Management v2
    description: Compliance Management v2 API
  - name: Workflow Actions Management
    description: Workflow Actions Management API
  - name: Internal Notification
    description: "Internal Notifications API that manages notifications for logged user\
    \ in the platform. Note that this API does not manage nor trigger external notifications.\
    \ For external notifications, please refer to the External Notification Management\
    \ API."
  - name: CBOM management
    description: CBOM management API
  - name: ACME Account Management
    description: ACME Account Management API
  - name: Time Quality Configuration Management
    description: Time Quality Configuration Management API
  - name: CMP RA Profile
    description: Interfaces used by CMP clients to request CMP related operations on
      top of RA Profile. CMP Profile defines the behaviour for the specific CMP configuration.
      CMP Profile is bound with specific RA Profile and it can be used by the CMP clients
      to request operations on their specific URL. These operations are always specific
      only for the RA Profile.
  - name: Settings
    description: Settings API
  - name: Vault Instance Management
    description: Vault Instance Management API
  - name: SCEP Profile Management
    description: SCEP Profile Management API
  - name: Compliance Profile Management
    description: Compliance Profile Management API
  - name: Cryptographic Operations Controller
    description: Cryptographic Operations Controller API
  - name: Custom OID Management
    description: Custom OID Management API
  - name: OAuth2 Login Management v2
    description: OAuth2 Login Management v2 API
  - name: Vault Profile Management
    description: APIs for managing Vault Profiles
  - name: Resource Management
    description: Resource Management API
paths:
  /v2/connectors/{uuid}:
    get:
      tags:
        - Connector Management v2
      summary: Get details of a Connector
      operationId: getConnectorV2
      parameters:
        - name: uuid
          in: path
          description: Connector UUID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Connector details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorDetailDtoV2"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Connector Management v2
      summary: Edit a Connector
      operationId: editConnectorV2
      parameters:
        - name: uuid
          in: path
          description: Connector UUID
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectorUpdateRequestDtoV2"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - Error Message 1
                - Error Message 2
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Connector updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorDetailDtoV2"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Connector Management v2
      summary: Delete a Connector
      operationId: deleteConnectorV2
      parameters:
        - name: uuid
          in: path
          description: Connector UUID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Connector deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v2/complianceProfiles/{uuid}:
    get:
      tags:
        - Compliance Profile Management v2
      summary: Details of a Compliance Profile
      operationId: getComplianceProfileV2
      parameters:
        - name: uuid
          in: path
          description: Compliance Profile UUID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Compliance Profile details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceProfileDtoV2"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Compliance Profile Management v2
      summary: Update Compliance Profile
      operationId: updateComplianceProfileV2
      parameters:
        - name: uuid
          in: path
          description: Compliance Profile UUID
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceProfileUpdateRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - Error Message 1
                - Error Message 2
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Compliance profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceProfileDtoV2"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Compliance Profile Management v2
      summary: Delete Compliance Profile
      operationId: deleteComplianceProfileV2
      parameters:
        - name: uuid
          in: path
          description: Compliance Profile UUID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Compliance Profile deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v2/complianceProfiles/rules/{internalRuleUuid}:
    put:
      tags:
        - Compliance Profile Management v2
      summary: Update Compliance internal rule
      operationId: updateComplianceInternalRuleV2
      parameters:
        - name: internalRuleUuid
          in: path
          description: Compliance internal rule UUID
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceInternalRuleRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - Error Message 1
                - Error Message 2
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Compliance internal rule updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplianceRuleListDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Compliance Profile Management v2
      summary: Delete Compliance internal rule
      operationId: deleteComplianceInternalRuleV2
      parameters:
        - name: internalRuleUuid
          in: path
          description: Compliance internal rule UUID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Compliance internal rule deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/workflows/triggers/{triggerUuid}:
    get:
      tags:
        - Workflow Triggers Management
      summary: Get Trigger details
      operationId: getTrigger
      parameters:
        - name: triggerUuid
          in: path
          description: Trigger UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Trigger not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Trigger details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Workflow Triggers Management
      summary: Update Trigger
      operationId: updateTrigger
      parameters:
        - name: triggerUuid
          in: path
          description: Trigger UUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTriggerRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: "Trigger, Rule or Action not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Trigger updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Workflow Triggers Management
      summary: Delete Trigger
      operationId: deleteTrigger
      parameters:
        - name: triggerUuid
          in: path
          description: Trigger UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Trigger not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Trigger deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/workflows/rules/{ruleUuid}:
    get:
      tags:
        - Workflow Rules Management
      summary: Get Rule details
      operationId: getRule
      parameters:
        - name: ruleUuid
          in: path
          description: Rule UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Rule not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Rule details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Workflow Rules Management
      summary: Update Rule
      operationId: updateRule
      parameters:
        - name: ruleUuid
          in: path
          description: Rule UUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRuleRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Rule or condition not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Rule details updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RuleDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Workflow Rules Management
      summary: Delete Rule
      operationId: deleteRule
      parameters:
        - name: ruleUuid
          in: path
          description: Rule UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Rule not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Rule deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/workflows/executions/{executionUuid}:
    get:
      tags:
        - Workflow Actions Management
      summary: Get Execution Details
      operationId: getExecution
      parameters:
        - name: executionUuid
          in: path
          description: Execution UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Execution not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Execution details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Workflow Actions Management
      summary: Update Execution
      operationId: updateExecution
      parameters:
        - name: executionUuid
          in: path
          description: Execution UUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateExecutionRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Execution not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Execution updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Workflow Actions Management
      summary: Delete Execution
      operationId: deleteExecution
      parameters:
        - name: executionUuid
          in: path
          description: Execution UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Execution not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Execution deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/workflows/conditions/{conditionUuid}:
    get:
      tags:
        - Workflow Rules Management
      summary: Get Condition details
      operationId: getCondition
      parameters:
        - name: conditionUuid
          in: path
          description: Condition UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Condition not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Condition details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConditionDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Workflow Rules Management
      summary: Update Condition
      operationId: updateCondition
      parameters:
        - name: conditionUuid
          in: path
          description: Condition UUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConditionRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Condition not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Condition updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConditionDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Workflow Rules Management
      summary: Delete Condition
      operationId: deleteCondition
      parameters:
        - name: conditionUuid
          in: path
          description: Condition UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Condition not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Condition deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/workflows/actions/{actionUuid}:
    get:
      tags:
        - Workflow Actions Management
      summary: Get Action Details
      operationId: getAction
      parameters:
        - name: actionUuid
          in: path
          description: Action UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Action not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Action details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Workflow Actions Management
      summary: Update Action
      operationId: updateAction
      parameters:
        - name: actionUuid
          in: path
          description: Action UUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateActionRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Action or Execution not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Action updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActionDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Workflow Actions Management
      summary: Delete Action
      operationId: deleteAction
      parameters:
        - name: actionUuid
          in: path
          description: Action UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Action not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Action deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/vaults/{vaultUuid}/vaultProfiles/{vaultProfileUuid}:
    get:
      tags:
        - Vault Profile Management
      summary: Get details of a Vault Profile
      operationId: getVaultProfileDetails
      parameters:
        - name: vaultUuid
          in: path
          description: UUID of Vault Instance
          required: true
          schema:
            type: string
            format: uuid
        - name: vaultProfileUuid
          in: path
          description: UUID of vault profile
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: Vault Profile details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultProfileDetailDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Vault Profile Management
      summary: Update a Vault Profile
      operationId: updateVaultProfile
      parameters:
        - name: vaultUuid
          in: path
          description: UUID of Vault Instance
          required: true
          schema:
            type: string
            format: uuid
        - name: vaultProfileUuid
          in: path
          description: UUID of vault profile
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaultProfileUpdateRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: Vault Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultProfileDetailDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Vault Profile Management
      summary: Delete a Vault Profile
      operationId: deleteVaultProfile
      parameters:
        - name: vaultUuid
          in: path
          description: UUID of Vault Instance
          required: true
          schema:
            type: string
            format: uuid
        - name: vaultProfileUuid
          in: path
          description: UUID of vault profile
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "204":
          description: Vault Profile deleted
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/vaults/{uuid}:
    get:
      tags:
        - Vault Instance Management
      summary: Details of a Vault instance
      operationId: getVaultInstanceDetails
      parameters:
        - name: uuid
          in: path
          description: Vault instance UUID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Vault instance details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultInstanceDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Vault Instance Management
      summary: Update a Vault instance
      operationId: updateVaultInstance
      parameters:
        - name: uuid
          in: path
          description: Vault instance UUID
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VaultInstanceUpdateRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Vault instance updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultInstanceDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Vault Instance Management
      summary: Delete a Vault instance
      operationId: deleteVaultInstance
      parameters:
        - name: uuid
          in: path
          description: Vault instance UUID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Vault instance deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/users/{userUuid}:
    get:
      tags:
        - User Management
      summary: Get user details
      operationId: getUser
      parameters:
        - name: userUuid
          in: path
          description: User UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: User details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - User Management
      summary: Update User
      operationId: updateUser
      parameters:
        - name: userUuid
          in: path
          description: User UUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "200":
          description: User details updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - User Management
      summary: Delete User
      operationId: deleteUser
      parameters:
        - name: userUuid
          in: path
          description: User UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: User deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/users/{userUuid}/roles/{roleUuid}:
    put:
      tags:
        - User Management
      summary: Add role to User
      operationId: addRole
      parameters:
        - name: userUuid
          in: path
          description: User UUID
          required: true
          schema:
            type: string
        - name: roleUuid
          in: path
          description: Role UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: User or Role not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: User roles updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - User Management
      summary: Remove role from User
      operationId: removeRole
      parameters:
        - name: userUuid
          in: path
          description: User UUID
          required: true
          schema:
            type: string
        - name: roleUuid
          in: path
          description: Role UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: User or Role not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: User roles removed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/tspProfiles/{uuid}:
    get:
      tags:
        - TSP Profile Management
      summary: Details of a TSP Profile
      operationId: getTspProfile
      parameters:
        - name: uuid
          in: path
          description: TSP Profile UUID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: TSP Profile details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TspProfileDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - TSP Profile Management
      summary: Update TSP Profile
      operationId: updateTspProfile
      parameters:
        - name: uuid
          in: path
          description: TSP Profile UUID
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TspProfileRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "409":
          description: Conflict
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - Error Message 1
                - Error Message 2
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: TSP Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TspProfileDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - TSP Profile Management
      summary: Delete TSP Profile
      operationId: deleteTspProfile
      parameters:
        - name: uuid
          in: path
          description: TSP Profile UUID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "400":
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: TSP Profile deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/tokens/{uuid}:
    get:
      tags:
        - Token Instance Management
      summary: Get Token Instance Detail
      operationId: getTokenInstance
      parameters:
        - name: uuid
          in: path
          description: UUID of the Token Instance
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Token Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Token Instance Detail retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenInstanceDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Token Instance Management
      summary: Update Token Instance
      operationId: updateTokenInstance
      parameters:
        - name: uuid
          in: path
          description: Token Instance UUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenInstanceRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Token Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessible Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - Error Message 1
                - Error Message 2
        "502":
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Token Instance Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenInstanceDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Token Instance Management
      summary: Delete Token Instance
      operationId: deleteTokenInstance
      parameters:
        - name: uuid
          in: path
          description: Token Instance UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Token Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Token Instance deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    patch:
      tags:
        - Token Instance Management
      summary: Reload Token Instance status
      operationId: reloadStatus
      parameters:
        - name: uuid
          in: path
          description: UUID of the Token Instance
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Token Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "502":
          description: Bad Gateway
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Token Instance Status Reloaded from Connector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenInstanceDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/tokens/{tokenInstanceUuid}/tokenProfiles/{uuid}:
    get:
      tags:
        - Token Profile Management
      summary: Details of Token Profile
      operationId: getTokenProfile
      parameters:
        - name: tokenInstanceUuid
          in: path
          description: Token Instance UUID
          required: true
          schema:
            type: string
        - name: uuid
          in: path
          description: Token Profile UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Token Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "200":
          description: Token Profile details retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenProfileDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    put:
      tags:
        - Token Profile Management
      summary: Edit Token Profile
      operationId: editTokenProfile
      parameters:
        - name: tokenInstanceUuid
          in: path
          description: Token Instance UUID
          required: true
          schema:
            type: string
        - name: uuid
          in: path
          description: Token Profile UUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EditTokenProfileRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Token Profile or Token instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessible Entity
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - Error Message 1
                - Error Message 2
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Token Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenProfileDetailDto"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
    delete:
      tags:
        - Token Profile Management
      summary: Delete Token Profile
      operationId: deleteTokenProfile
      parameters:
        - name: tokenInstanceUuid
          in: path
          description: Token Instance UUID
          required: true
          schema:
            type: string
        - name: uuid
          in: path
          description: Token Profile UUID
          required: true
          schema:
            type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Token Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Token Profile deleted
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/tokens/{tokenInstanceUuid}/tokenProfiles/{tokenProfileUuid}/usages:
    put:
      tags:
        - Token Profile Management
      summary: Update Key Usage
      operationId: updateKeyUsages
      parameters:
        - name: tokenInstanceUuid
          in: path
          description: Token Instance UUID
          required: true
          schema:
            type: string
        - name: tokenProfileUuid
          in: path
          description: Token Profile UUID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenProfileKeyUsageRequestDto"
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "404":
          description: Token Profile not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "422":
          description: Unprocessable Entity
          content:
            '*/*':
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - $ref: "#/components/schemas/ErrorMessageDto"
        "501":
          description: Not Implemented
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "500":
          description: Internal Server Error
          content: { }
        "204":
          description: Key Usages Updated
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationServiceExceptionDto"
        "502":
          description: Connector Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
        "503":
          description: Connector Communication Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorMessageDto"
      security:
        - BearerJWTAuth: [ ]
        - CertificateAuth: [ ]
        - SessionAuth: [ ]
  /v1/tokens/{tokenInstanceUuid}/keys/{uuid}/usages:
    put:
      tags:
        - Cryptographic Key Management
      summary: Update Key Usage with Token Instance
[...]
