<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <!--    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>-->
    <property name="LOG_FILE" value="/dev/stdout"/>
    <!--    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />-->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <!--        <appender-ref ref="FILE" />-->
    </root>
    <logger name="com.czertainly" level="INFO"/>
</configuration>