<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
<!--    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />-->
    <!--    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>-->
    <property name="LOG_FILE" value="/dev/stdout"/>
    <!--    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_LOG_THRESHOLD}</level>
        </filter>
        <filter class="com.czertainly.core.tasks.ScheduledLoggingFilter" />
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <if condition='property("otel.sdk.disabled").equals("false")'>
        <appender name="OpenTelemetry" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
            <captureExperimentalAttributes>true</captureExperimentalAttributes>
            <captureCodeAttributes>true</captureCodeAttributes>
            <captureMarkerAttribute>false</captureMarkerAttribute>
            <captureKeyValuePairAttributes>false</captureKeyValuePairAttributes>
            <captureLoggerContext>false</captureLoggerContext>
<!--            <captureMdcAttributes>*</captureMdcAttributes>-->
        </appender>

        <appender name="SpanEvents" class="com.czertainly.core.config.SpanEventsAppender">
        </appender>
    </if>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <!--        <appender-ref ref="FILE" />-->
        <if condition='property("otel.sdk.disabled").equals("false")'>
            <appender-ref ref="OpenTelemetry" />
            <appender-ref ref="SpanEvents" />
        </if>
    </root>
    <logger name="com.czertainly" level="INFO"/>
</configuration>