name: Test Docker image

on:
  pull_request:
    branches: [ main*, feat/*, hotfix/* ]
  workflow_dispatch:

env:
  REGISTRY: harbor.3key.company
  IMAGE: harbor.3key.company/czertainly/czertainly-core
  DOCKERFILE: ./Dockerfile
  # cache scope so both jobs share the same cache namespace
  CACHE_SCOPE: czertainly-core

jobs:
  build_amd64:
    name: Build amd64
    runs-on: ubuntu-latest
    outputs:
      digest: ${{ steps.build.outputs.digest }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run pre-build
        run: |
          ./prebuild_image_script

      - name: Build (amd64) - local only (no push)
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.DOCKERFILE }}
          platforms: linux/amd64
          push: false
          load: true
          tags: ${{ env.IMAGE }}:ci
          cache-from: type=gha,scope=${{ env.CACHE_SCOPE }}
          cache-to: type=gha,mode=max,scope=${{ env.CACHE_SCOPE }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.31.0
        with:
          image-ref: ${{ env.IMAGE }}:ci
          format: json
          output: trivy-report-amd64.json
          exit-code: 0

      - name: Upload vulnerability report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report-amd64
          path: trivy-report-amd64.json

      - name: Fail build on vulnerabilities
        uses: aquasecurity/trivy-action@0.31.0
        with:
          image-ref: ${{ env.IMAGE }}:ci
          trivy-config: config/trivy.yaml
          skip-setup-trivy: true

  build_arm64:
    name: Build arm64
    runs-on: ubuntu-24.04-arm
    outputs:
      digest: ${{ steps.build.outputs.digest }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run pre-build
        run: |
          ./prebuild_image_script

      - name: Build (arm64) - local only (no push)
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.DOCKERFILE }}
          platforms: linux/arm64
          push: false
          load: true
          tags: ${{ env.IMAGE }}:ci
          cache-from: type=gha,scope=${{ env.CACHE_SCOPE }}
          cache-to: type=gha,mode=max,scope=${{ env.CACHE_SCOPE }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.31.0
        with:
          image-ref: ${{ env.IMAGE }}:ci
          format: json
          output: trivy-report-arm64.json
          exit-code: 0

      - name: Upload vulnerability report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report-arm64
          path: trivy-report-arm64.json

      - name: Fail build on vulnerabilities
        uses: aquasecurity/trivy-action@0.31.0
        with:
          image-ref: ${{ env.IMAGE }}:ci
          trivy-config: config/trivy.yaml
          skip-setup-trivy: true
