name: Test Docker image

on:
  pull_request:
    branches: [ main*, feat/*, hotfix/* ]
  workflow_dispatch:

concurrency:
  group: pr-${{ github.event.pull_request.number || github.ref }}-docker-test
  cancel-in-progress: true

env:
  REGISTRY: harbor.3key.company
  IMAGE: harbor.3key.company/czertainly/czertainly-core
  DOCKERFILE: ./Dockerfile
  # cache scope so both jobs share the same cache namespace
  CACHE_SCOPE: czertainly-core

jobs:
  build_artifacts:
    name: Build app artifacts (once)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Java 21 + Maven cache
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Prepare data dir
        run: |
          rm -rf data
          mkdir -p data

      - name: Maven package
        run: |
          mvn -f pom.xml -U -B -ntp -T 1C clean package

      - name: Collect artifacts into data/
        run: |
          mkdir -p data/target
          cp -a target/*.jar data/target/
          cp -a docker data/docker

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: app-data
          path: data/
          if-no-files-found: error

  build_amd64:
    name: Build amd64
    runs-on: ubuntu-latest
    needs: build_artifacts
    outputs:
      digest: ${{ steps.build.outputs.digest }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: app-data
          path: data

      - name: Build (amd64) - local only (no push)
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.DOCKERFILE }}
          platforms: linux/amd64
          push: false
          load: true
          tags: ${{ env.IMAGE }}:ci
          cache-from: type=gha,scope=${{ env.CACHE_SCOPE }}-amd64
          cache-to: type=gha,mode=max,scope=${{ env.CACHE_SCOPE }}-amd64


      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.34.0
        with:
          image-ref: ${{ env.IMAGE }}:ci
          format: json
          output: trivy-report-amd64.json
          exit-code: 0

      - name: Upload vulnerability report
        uses: actions/upload-artifact@v6
        with:
          name: trivy-report-amd64
          path: trivy-report-amd64.json

      - name: Fail build on vulnerabilities
        uses: aquasecurity/trivy-action@0.34.0
        with:
          image-ref: ${{ env.IMAGE }}:ci
          trivy-config: config/trivy.yaml
          skip-setup-trivy: true

  build_arm64:
    name: Build arm64
    runs-on: ubuntu-24.04-arm
    needs: build_artifacts
    outputs:
      digest: ${{ steps.build.outputs.digest }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: app-data
          path: data

      - name: Build (arm64) - local only (no push)
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.DOCKERFILE }}
          platforms: linux/arm64
          push: false
          load: true
          tags: ${{ env.IMAGE }}:ci
          cache-from: type=gha,scope=${{ env.CACHE_SCOPE }}-arm64
          cache-to: type=gha,mode=max,scope=${{ env.CACHE_SCOPE }}-arm64

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.34.0
        with:
          image-ref: ${{ env.IMAGE }}:ci
          format: json
          output: trivy-report-arm64.json
          exit-code: 0

      - name: Upload vulnerability report
        uses: actions/upload-artifact@v6
        with:
          name: trivy-report-arm64
          path: trivy-report-arm64.json

      - name: Fail build on vulnerabilities
        uses: aquasecurity/trivy-action@0.34.0
        with:
          image-ref: ${{ env.IMAGE }}:ci
          trivy-config: config/trivy.yaml
          skip-setup-trivy: true
